@media screen {
    html,body,input,button,td {
        font-family: 'verdana';
        font-size: 14px;
    }
    html,body {
        padding: 0;
        margin: 0;
        overflow: auto;
        background-color: #222;
        color: #999;
    }
    h1 {
        font-size: 20px;
        font-weight: normal;
    }
    table {
        border-collapse: collapse;
        /*border: 1px solid #444;*/
        width: 100%;
    }
    table tr {
        border: 1px solid #444;
        border-width: 1px 0;
    }
    table tr:first-child {
        border-top: none;
    }
    table th,
    table td {
        padding: 10px 10px;
    }
    input,
    button {
        border: 1px solid #444;
        border-radius: 5px;
        background: none;
        padding: 4px 10px;
        color: #BBB;
    }
}

@media screen {
    .tests .error {
        background-color: crimson;
        color: #222;
    }
}

@media screen {
    .day,
    .week {
        outline: 1px solid #444;
        height: 20px;
        margin: 1em 0;
        position: relative;
}
    .week span,
    .day span {
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        border-right: 1px solid #222;
        background-color: crimson;
    }
    .day span {
        position: absolute;
    }
    .day span:first-child,
    .week span:first-child {
        border-left: 1px solid #222;
    }
}

@media screen {
    .todo {
        position: relative;
    }
    .todo input {
        width: 180px;
        margin-left: 5px;
    }
    .todo ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .todo li {
        margin-left: 30px;
        padding: 0;
    }
    .todo li > span {
        padding: 10px;
        display: block;
    }
    .todoprojects {
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: padding-box;
        border-bottom: 1px solid #444;
        background-color: #282828;
    }
    .todolist li::before {
        border: 2px solid silver;
        content: ' ';
        float: left;
        width: 16px;
        height: 16px;
        border-radius: 100px;
        margin-top: 10px;
        margin-left: -25px;
    }
    .todolist li.done::before {
        background-color: silver;
    }
    .todolist .done {
        text-decoration: line-through;
        color: gray;
    }
}

@media screen {
    .git {
        float: left;
        width: 200px;
    }
    .todo {
        float: right;
        width: 200px;
    }
    .big {
        font-size: 32px;
        display: inline-block;
        vertical-align: middle;
    }
    .pull-right {
        float: right;
    }
    .panel {
        border: 1px solid #444;
        border-width: 1px 0 0 1px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        min-width: 250px;
        height: 100%;
        box-sizing: border-box;
    }
    .panel h1 {
        outline: 1px solid #444;
        margin: 0;
        padding: 0 10px;
        line-height: 40px;
        background-color: #333;
    }
    .panel h1.error {
        background-color: crimson;
        color: #222;
    }
    .panel p {
        margin: 1em 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1030px) {
    .panel::-webkit-scrollbar-button {
        width: 2px;
        height: 2px;
    }
    .panel::-webkit-scrollbar {
        background: none;
        width: 8px;
        height: 8px;
    }
    .panel::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 8px;
        border: 1px solid #333;
    }
    .panel::-webkit-scrollbar-thumb:horizontal {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#444));
        background: -webkit-linear-gradient(top, #555 0%,#444 100%);
        background: linear-gradient(to bottom, #555 0%,#444 100%);
    }
    .panel::-webkit-scrollbar-thumb:vertical {
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#555), color-stop(100%,#444));
        background: -webkit-linear-gradient(left, #555 0%,#444 100%);
        background: linear-gradient(to right, #555 0%,#444 100%);
    }

    .panel::-webkit-scrollbar-corner {
        background: none;
    }
}

[class^="icon-"], [class*=" icon-"] {
    line-height: inherit;
}